<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/svg-with-js.css" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/images/profile_image.jpg" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="/js/ganalytics.js"></script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about/">about</a></li>
        <li><a href="/about/resume.pdf">resume</a></li>
        <li><a href="/">posts</a></li>
      </ul>
    </section>

    <section class="meta">
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></br>
        <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github-square"></i></a></br>
        <a href="https://linkedin.com/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></br>
        <a href="https://stackexchange.com/{{ site.stackexchange }}" target="_blank"><i class="fa fa-stack-overflow"></i></a></br>
        <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search={{ site.pgp_key }}" target="_blank"><i class="fa fa-key"></i></a></br>
        <a href="https://www.codecademy.com/{{ site.codeacademy }}" target="_blank"><i class="fa fa-code"></i></a></br>
        <a href="{{ site.resume_pdf }}" target="_blank" ><i class="fa fa-file"></i></a></br>
        <a href="/atom.xml"><i class="fa fa-rss"></i></a></br>
    </section>

  </section>

  {{ content }}
</body>

</html>
